body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 38, 38) !important;
    color: white !important;
}


label{
    visibility: hidden !important;
}

/* NAVIGATION */

#nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(32, 32, 32);
}

.content-cont{
    display: flex;
    align-items: center;
}

.nav-links{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.nav-links>a{
    text-decoration: none;
}
.brand-img{
    width: 35px;
}

.profile-img{
    width: 35px;
}

.search-img{
    width: 35px;
}

.username-nav{
    margin-right: 15px;
}

/* FORM */

#form-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;
    
}

form>input{
    border-radius: 25px;
    border: 2px solid white;
    padding: 8px;
    width: 100%;
}


form>button{
    background-color: #4ea8de;
    padding: 7px;
    border: none;
    border-radius: 100px;
    width: 65%;
    color: white;
    margin: 35px auto;   
}

/* LOGIN */

#signup-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
.noacct-p{
    display: inline;
    margin-right: 10px;
}

#signup-cont>a{
   
    color: white;
}