body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 38, 38) !important;
    color: white !important;
    font-family: 'futura' !important;
}

label{
    visibility: hidden !important;
}

#top-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 38, 38);
    color: white;
    width: 80%;
}


/* Links */

#best-link {
    background-color: #4ea8de;
    padding: 13px;
    border-radius: 100px;
    margin: 25px 0px 10px 0px;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

#best-link:hover {
    background-color: #3d84b0 !important;
}

.link-cont {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 250px;
}

.service-links {
    background-color: #4ea8de;
    padding: 10px;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    margin: 0 auto;
    min-width: 150px;
    text-align: center;
}

.quality-4K {
    background-color: #d7942d;
    padding: 10px;
    display: inline;
}

.quality-HD {
    background-color: #0b7fc8;
    padding: 10px;
    display: inline;
}

.quality-SD {
    background-color: #8dc7eb;
    padding: 10px;
    display: inline;
}

.link-price {
    background-color: rgb(16, 16, 16);
    padding: 10px;
    display: inline;
}

#price-quality-cont {
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.trailer {
    color: white;
}


/* Poster */

#poster {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

#poster-cont {
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#rating-num{
    position: absolute;
    bottom: 15px;
    right: 0px;
    background-color: #4ea8de;
    padding: 3px 5px 3px 10px;
    
}

#rating-num>p{
    margin: 0px;
}
/* Overview */

#overview-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#overview-cont>h2{
    text-align: center;
    
}
.description {
    text-align: center;
}

/* Avaliable */

#avaliable-cont {
    margin-top: 50px;
    border: 4px solid #4ea8de;
    border-radius: 25px;
    padding: 25px;
}


/* Similar titles */

#similar-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 38, 38);
    color: white;
    width: 80%;
    margin-top: 50px;
}

.similar-results {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
    max-width: 185px;
}

.sim-link {
    color: white;
}

/* NAVIGATION */

#nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(32, 32, 32);
}

.content-cont{
    display: flex;
    align-items: center;
}

.nav-links{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.nav-links>a{
    text-decoration: none;
}
.brand-img{
    width: 35px;
}

.profile-img{
    width: 35px;
}

.search-img{
    width: 35px;
}

.username-nav{
    margin-right: 15px;
}

/* INDEX */

#search-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-cont>form{
    display: flex;
    flex-direction: column;
    width:75%;
}
#search-cont>form>input{
    border-radius: 25px;
    border: 2px solid white;
    padding: 8px;
    margin: 0 auto;
    width: 95%;
}

#search-cont>form>button{
    background-color: #4ea8de;
    padding: 7px;
    border: none;
    border-radius: 100px;
    width: 60%;
    color: white;
    margin-top: 25px;
    margin: 25px auto;
}

#search-cont>form>label{
    visibility: hidden;
}
#search-cont>h1{
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'rounded';
    letter-spacing: 2px;
    font-size: 40px;
}


/* FEATURED */
#featured-cont{
    margin-top: 50px;
}


/* FONTS */

@font-face {
    font-family: 'rounded';
    src: url(Rounded.otf);
}


@font-face {
    font-family: 'futura';
    src: url(futura.ttf);
}